@using DDD.Web.Models.Game
@model GameEditViewModel

<h3 class="text-center">Edit Game</h3>

<div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="Id"/>
<div class="form-group">
    <form method="post">
        <div class="mb-3" >
        <label class="form-group" asp-for="Name"></label>
        <input type="text" class="form-control" placeholder="" asp-for="Name">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3" >
        <label class="form-group" asp-for="Description"></label>
        <input type="text" class="form-control" placeholder="" asp-for="Description">
        <span asp-validation-for="Description"></span>
    </div>
    <div class="mb-3" >
        <label class="form-group" asp-for="Price"></label>
        <input type="number" class="form-control" placeholder="" asp-for="Price">
        <span asp-validation-for="Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="GenderId"></label>
        <select asp-for="GenderId" asp-items="@Model.Genders" class="form-control">
            <option>Select the Gender of Game</option>
        </select>
        <span asp-validation-for="GenderId"></span>
    </div>
    
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Save Edition of Game</button>
    </div>
    </form>
</div>